/ = will_paginate @urls
%table
  %thead
    %th
      URL
    %th
      Total Page Weight
    %th
      Overall Score
    %th
      Requests
    %th
      Space Id
    %th
      ID of Ruleset
    %th
      Page Load Time
    %th
      All Grades
    %th
      Primed Cache Page Weight
    %th
      Primed Cache Requests
    %th
      Stats
    %th
      Comps
  %tbody
    - @urls.each do |u|
      %tr{:class=>"#{cycle('odd', 'even')} row"}
        %td.url      
          = link_to u.url_name, u
        %td
          = number_to_human_size(u.yslow2s.find(:last).w,2)
        %td
          = (u.yslow2s.find(:last) == nil) ? 'N/A' : (grade(u.yslow2s.find(:last).o))
        %td
          = u.yslow2s.find(:last).r
        %td
          = u.yslow2s.find(:last).s
        %td
          = u.yslow2s.find(:last).i
        %td
          = u.yslow2s.find(:last).lt
        %td
          = link_to 'All Scores', all_scores_path(u)
        %td
          = u.yslow2s.find(:last).w_c
        %td
          = u.yslow2s.find(:last).r_c
        %td
          / = u.yslow2s.find(:last).stats
        %td
          / = u.yslow2s.find(:last).stats_c
        %td
          / = u.yslow2s.find(:last).comps
          
          
          
          
          



