/ = will_paginate @urls
%table
  %thead
    %th
      URL
    %th
      Page Load Time
    %th
      Page Weight
    %th
      CSS Weight
    %th
      JS Weight
    %th
      Requests
    %th.yslow
      Yslow
  %tbody
    - @urls.each do |u|
      %tr{:class=>"#{cycle('odd', 'even')} row"}
        %td.url      
          = u.url_name
        %td
          = convert_to_seconds(u.yslow2s.find(:last).lt)
        %td
          = number_to_human_size(u.yslow2s.find(:last).w,2)
        %td
        %td
        %td
          = u.yslow2s.find(:last).r
        %td.center
          = (u.yslow2s.find(:last) == nil) ? 'N/A' : (grade(u.yslow2s.find(:last).o))
          
          
          
          



