%table
  %thead
    %th.alexa
      Alexa Rank
    %th
      URL
    %th.yslow
      Yslow
    %th.page_speed
      Page Speed
  %tbody
    - @urls.each do |u|
      %tr{:class=>"#{cycle('odd', 'even')} row"}
        %td
          rank
        %td.url      
          = link_to u.url, u
        %td
          = (u.yslow2s.find(:last) == nil) ? 'N/A' : u.yslow2s.find(:last).o
        %td
          = (u.page_speeds.find(:last) == nil) ? 'N/A' : u.page_speeds.find(:last).o

= will_paginate @urls

