/ = will_paginate @urls
%table
  %thead
    %th
      URL
    %th
      Total Page Weight
    %th
      Overall YSlow Score
    %th
      ID of Ruleset
    %th
      Page Load Time
    %th
      Primed Cache Page Weight
    %th
      Primed Cache Requests
    %th
      Components
  %tbody
    - @urls.each do |u|
      %tr{:class=>"#{cycle('odd', 'even')} row"}
        %td.url      
          = link_to u.url_name, u
        %td
          = number_to_human_size(u.yslow2s.find(:last).w,2)
        %td
          = (u.yslow2s.find(:last) == nil) ? 'N/A' : (grade(u.yslow2s.find(:last).o))
        %td
          = u.yslow2s.find(:last).i
        %td
          = u.yslow2s.find(:last).lt
        %td
          = number_to_human_size(u.yslow2s.find(:last).w_c,2)
        %td
          = u.yslow2s.find(:last).r_c
        %td
          = link_to 'Show', all_components_path(u)
          
          
          
          
          



