#show_page
  %h2
    = "Front-End Performance Recordings for <br /> <a href='http://www.#{@the_url.url_name}' title='#{@the_url.url_name}'>#{@the_url.url_name}</a>"

  %div.grades
    %h3
      Yslow! Grades
    %table{:summary => "Yahoo! Yslow! Front End Performance Grade Recordings for #{@url_name}"}
      %thead
        %tr
          %th
            = "Date Recorded"
          %th
            Page Weight
          %th
            Overall Score
      %tbody
        - @yslow2_scores.each do |y|
          %tr
            %td
              = link_to readable_time(y.created_at), y
            %td
              = convert_to_kilobytes(y.w)
            %td
              = grade(y.o)

  %div.grades
    %h3
      PageSpeed Grades
    %table{:summary => "Google PageSpeed Front End Performance Grade Recordings for #{@url_name}"}
      %thead
        %tr
          %th
            = "Date Recorded"
          %th
            Page Weight
          %th
            Overall Score
      %tbody
        - @page_speed_scores.each do |p|
          %tr
            %td
              = link_to readable_time(p.created_at), p
            %td
              = convert_to_kilobytes(p.w)
            %td
              = grade(p.o)

