%h2
  = "Front-End Performance Recordings for <br /> <a href='http://www.#{@url_name}' title='#{@url_name}'>#{@url_name}</a>"
%table{:summary => "Front End Performance Grade Recordings for #{@url_name}"}
  %thead
    %tr
      %th
        = "Date Recorded"
      %th
        Page Weight
      %th
        Overall Score
  %tbody
    - @yslow2_scores.each do |y|
      %tr
        %td
          = link_to Yslow2.readable_time(y.created_at), y
        %td
          = "#{y.w} bytes"
        %td
          = y.o
