!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      High Performing Sites - Front-End Performance Grades of the Top 100 Sites on the Web
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "blueprint/screen.css", "application.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
  %body
    .container
      %h1
        highperformingsites.com
      #sub_container
        #top_nav
        #sub_container_back
          #left_nav.span-7
            .module
              %h2
                Top 100 Fastest
              = fastest_sites
            .module
              %h2
                Top 100 Slowest
              = slowest_sites
          #main_content.span-16.last
            .module
              = yield
    #footer
      .container
        %ul
          %li
            %a{:href=>"http://fromthought2web.com", :rel=>"external", :title=>"Copyright: FromThought2Web Network"}
              FromThought2WebNetwork
    = javascript_include_tag "jquery-1.4.2", "application", :cache => true